

.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.brand{
  color: #ECEDEE;
  
}
.offcanvas-end{
  max-width: 250px !important;
}
.logo{
  text-align: center;
  margin: 35px 25px 25px 65px;
}
.navbar{
  border-radius: 0 0 15px 15px !important;
}